<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Albums</a>
    </div>
    <ul class="nav navbar-nav">
    <% unless user_signed_in? %>
      <li><a href=<%= new_user_registration_path %>>Sign Up</a></li>
      <li><a href="#">Sign In</a></li>
    <% else %>
      <li><a href="#">Sign Out</a></li>
    <% end %>
    </ul>
  </div>
</nav>
