<section id="listed-pictures" class="portfolio listed_pictures">
  <div class="container">
    <div class="row pictures_list">
      <%= render(partial: 'shared/listed_picture', collection: @user.pictures, as: :picture) || 'No pictures yet' %>
    </div>
  </div>
</section>

<%= render partial: 'shared/pic_upload_form' %>
