<div id="new_tag" class="input-group">
  <%= form_with model: picture, method: :patch,  data: { turbo: false } do |f| %>
    <%= f.text_field :tag_name, placeholder: "new tag", size: "10" %>
    <%= button_tag(type: 'submit', class: 'btn btn-sm btn-outline-tertiary', id: 'create_tag') do %>
      <span><i class="fas fa-plus"></i></span>
    <% end %>
  <% end %>
</div>
