<div class="listed_picture">
  <div id="picture">
    <%= link_to picture_path picture do %>
      <%= image_tag picture.file.representation(resize_to_limit: [200, 200]), id: 'main_pic' %>
    <% end %>
  </div>

  <div id="tags">
    <% if picture.tags.empty? %>
      <p>No tags yet</p>
    <% else %>
      <% picture.tags.each do |tag| %>
        <span id="tag"> <%= tag.name %> </span>
      <% end %>
    <% end %>
  </div>
</div>
