<span class="badge bg-tertiary d-flex align-items-center float-start" id="tag">
  <%= link_to tag.name, tag %>
  <% if can? :update, picture %>
    <span>
      <%= button_to '<i class="fas fa-xmark"></i>'.html_safe,
      picture,
      html_options: {
        method: :patch
      },
      class: "btn btn-sm btn-outline-tertiary",
      params: {
        tag_id: tag.id
      } %>
    </span>
  <% end %>
</span>
