  <span class="badge bg-tertiary" id="tag">
    <%= link_to tag.name, tag %>
    <button type="button" class="btn btn-sm btn-outline-tertiary">
      <i class="fas fa-xmark"></i>
    </button>
  </span>