<div class="container">
  <div id="picture">
    <%= image_tag @picture.file, id: "main_pic", class: "img-fluid" %>
    <div id="tags">
      <%= render(
        partial: "shared/listed_tag",
        locals: {
          picture: @picture
        },
        collection: @picture.tags,
        as: :tag
      ) || "No tags yet" %>
      <% if can? :update, @picture %>
        <%= render(partial: "shared/add_new_tag", locals: { picture: @picture }) %>
      <% end %>

    </div>

    <div class="container clearfix">
      <% if can? :destroy, @picture %>
        <%= button_to "Delete!",
        @picture,
        method: "delete",
        class: "btn btn-outline-danger float-end" %>
      <% end %>
    </div>
  </div>
</div>
