<div id="picture">
  <%= image_tag @picture.file, id: 'main_pic' %>
</div>

<div id="tags">
<% if @picture.tags.empty? %>
  <p>No tags yet</p>
<% else %>
  <% @picture.tags.each do |tag| %>
    <p id="tag">
      <%= tag.name %>
    </p>
  <% end %>
<% end %>
<% if current_user == @picture.user %>
  <%= button_to 'Delete!', @picture, method: 'delete' %>
<% end %>
</div>
