<div id="picture">
  <%= image_tag(@picture.url, id: 'main_pic') %>
</div>

<div id="tags">
<% if @picture.tags.empty? %>
  <p>No tags yet</p>
<% else %>
  <% @picture.tags.each do |tag| %>
    <p id="tag">
      <%= tag.name %>
    </p>
  <% end %>
<% end %>
</div>
