@import 'bootstrap';
@import 'font-awesome';

@import './components/mixins';
@import './components/buttons';
@import './components/typography';
@import './components/animations';
@import './sections/navbar';
@import './sections/intro_section';

@font-face {
  font-family: 'poppins-regular';
  font-style: normal;
  src: url(Poppins-Regular.ttf) format(truetype);
}